:root {
  --color-neutral-inverse: #f9ffff;
  --color-neutral-disabled: #d9dde0;
  --color-neutral-subordinary: #8e9ba2;
  --color-neutral-base: #1e3845;

  --color-primary-1: #eef5f8;
  --color-primary-2: #cce1ea;
  --color-primary-3: #9ac3d6;
  --color-primary-4: #68a5c2;
  --color-primary-5: #3688ae;
  --color-primary-6: #286682;
  --color-primary-7: #1b4457;
  --color-primary-8: #0d222b;
  --color-primary-9: #08151a;

  --color-secondary-first-soft: #d4dae7;
  --color-secondary-first-medium: #7f92b7;
  --color-secondary-first-hard: #002570;
  --color-secondary-second-soft: #fceddb;
  --color-secondary-second-medium: #f6cb95;
  --color-secondary-second-hard: #ed982b;
  --color-secondary-third-soft: #ecf7f9;
  --color-secondary-third-medium: #c7e9ee;
  --color-secondary-third-hard: #90d3de;

  --color-shadow-overlay: rgba(8, 21, 26, 0.08);
  --color-shadow-neutral: rgba(142, 155, 162, 0.12);
  --color-shadow-inverse: rgba(249, 255, 255, 0.12);
  --color-shadow-primary: rgba(54, 136, 174, 0.12);

  --color-success-soft: #ddf2e0;
  --color-success-medium: #99d8a3;
  --color-success-hard: #34b248;
  --color-warning-soft: #fbf0dc;
  --color-warning-medium: #f3d297;
  --color-warning-hard: #e8a530;
  --color-danger-soft: #f6d9d9;
  --color-danger-medium: #e48e8e;
  --color-danger-hard: #c91d1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

h1 {
  font-size: 61px;
  line-height: 140%;
}

h2 {
  font-size: 47px;
  line-height: 140%;
}

h3 {
  font-size: 36px;
  line-height: 140%;
}

h4 {
  font-size: 27px;
  line-height: 140%;
}

h5 {
  font-size: 21px;
  line-height: 140%;
}

small {
  font-size: 12px;
  line-height: 140%;
}

body {
  font-size: 16px;
  line-height: 140%;
}

.gap-8 {
  gap: 8px;
}
.gap-16 {
  gap: 16px;
}
.gap-24 {
  gap: 24px;
}
.gap-40 {
  gap: 40px;
}
.gap-80 {
  gap: 80px;
}

.br-8 {
  border-radius: 8px;
}

.br-16 {
  border-radius: 16px;
}

.br-24 {
  border-radius: 24px;
}

.br-40 {
  border-radius: 40px;
}

.br-80 {
  border-radius: 80px;
}

.p-8 {
  padding: 8px;
}
.p-16 {
  padding: 16px;
}
.p-24 {
  padding: 24px;
}
.p-40 {
  padding: 40px;
}
.p-80 {
  padding: 80px;
}

.pt-8 {
  padding-top: 8px;
}
.pt-16 {
  padding-top: 16px;
}
.pt-24 {
  padding-top: 24px;
}
.pt-40 {
  padding-top: 40px;
}
.pt-80 {
  padding-top: 80px;
}

.pb-8 {
  padding-bottom: 8px;
}
.pb-16 {
  padding-bottom: 16px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-80 {
  padding-bottom: 80px;
}

.pl-8 {
  padding-left: 8px;
}
.pl-16 {
  padding-left: 16px;
}
.pl-24 {
  padding-left: 24px;
}
.pl-40 {
  padding-left: 40px;
}
.pl-80 {
  padding-left: 80px;
}

.pr-8 {
  padding-right: 8px;
}
.pr-16 {
  padding-right: 16px;
}
.pr-24 {
  padding-right: 24px;
}
.pr-40 {
  padding-right: 40px;
}
.pr-80 {
  padding-right: 80px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}
.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.m-8 {
  margin: 8px;
}
.m-16 {
  margin: 16px;
}
.m-24 {
  margin: 24px;
}
.m-40 {
  margin: 40px;
}
.m-80 {
  margin: 80px;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}
.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}
.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}
.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}
.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.vh100 {
  height: 100vh;
}

.vw100 {
  width: 100vw;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.fit {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.flex-grow {
  flex-grow: 1;
}

.self-center {
  align-self: center;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.scroll-x {
  overflow-x: auto;
  white-space: nowrap;
}

.scroll-y {
  overflow-y: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-medium {
  font-weight: 600;
}

.text-regular {
  font-weight: 300;
}

.text-bold {
  font-weight: 700;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.cursor-pointer {
  cursor: pointer;
}

.shadow-overlay {
  box-shadow: 4px 8px 80px var(--color-shadow-overlay);
}

.shadow-neutral {
  box-shadow: 0px 1px 2px var(--color-shadow-neutral);
}

.shadow-primary {
  box-shadow: 0px 1px 2px var(--color-shadow-primary-5);
}

.text-primary-1 {
  color: var(--color-primary-1);
}

.text-primary-2 {
  color: var(--color-primary-2);
}

.text-primary-3 {
  color: var(--color-primary-3);
}

.text-primary-4 {
  color: var(--color-primary-4);
}

.text-primary-5 {
  color: var(--color-primary-5);
}

.text-primary-6 {
  color: var(--color-primary-6);
}

.text-primary-7 {
  color: var(--color-primary-7);
}

.text-primary-8 {
  color: var(--color-primary-8);
}

.text-primary-9 {
  color: var(--color-primary-9);
}

.text-secondary-first-soft {
  color: var(--color-secondary-first-soft);
}

.text-secondary-first-medium {
  color: var(--color-secondary-first-medium);
}

.text-secondary-first-hard {
  color: var(--color-secondary-first-hard);
}

.text-secondary-second-soft {
  color: var(--color-secondary-second-soft);
}

.text-secondary-second-medium {
  color: var(--color-secondary-second-medium);
}

.text-secondary-second-hard {
  color: var(--color-secondary-second-hard);
}

.text-secondary-third-soft {
  color: var(--color-secondary-third-soft);
}

.text-secondary-third-medium {
  color: var(--color-secondary-third-medium);
}

.text-secondary-third-hard {
  color: var(--color-secondary-third-hard);
}

.text-shadow-overlay {
  color: var(--color-shadow-overlay);
}

.text-shadow-neutral {
  color: var(--color-shadow-neutral);
}

.text-shadow-inverse {
  color: var(--color-shadow-inverse);
}

.text-shadow-primary {
  color: var(--color-shadow-primary);
}

.text-neutral-inverse {
  color: var(--color-neutral-inverse);
}

.text-neutral-disabled {
  color: var(--color-neutral-disabled);
}

.text-neutral-subordinary {
  color: var(--color-neutral-subordinary);
}

.text-neutral-base {
  color: var(--color-neutral-base);
}

.text-success-soft {
  color: var(--color-success-soft);
}

.text-success-medium {
  color: var(--color-success-medium);
}

.text-success-hard {
  color: var(--color-success-hard);
}

.text-warning-soft {
  color: var(--color-warning-soft);
}

.text-warning-medium {
  color: var(--color-warning-medium);
}

.text-warning-hard {
  color: var(--color-warning-hard);
}

.text-danger-soft {
  color: var(--color-danger-soft);
}

.text-danger-medium {
  color: var(--color-danger-medium);
}

.text-danger-hard {
  color: var(--color-danger-hard);
}

.bg-primary-1 {
  background-color: var(--color-primary-1);
}

.bg-primary-2 {
  background-color: var(--color-primary-2);
}

.bg-primary-3 {
  background-color: var(--color-primary-3);
}

.bg-primary-4 {
  background-color: var(--color-primary-4);
}

.bg-primary-5 {
  background-color: var(--color-primary-5);
}

.bg-primary-6 {
  background-color: var(--color-primary-6);
}

.bg-primary-7 {
  background-color: var(--color-primary-7);
}

.bg-primary-8 {
  background-color: var(--color-primary-8);
}

.bg-primary-9 {
  background-color: var(--color-primary-9);
}

.bg-secondary-first-soft {
  background-color: var(--color-secondary-first-soft);
}

.bg-secondary-first-medium {
  background-color: var(--color-secondary-first-medium);
}

.bg-secondary-first-hard {
  background-color: var(--color-secondary-first-hard);
}

.bg-secondary-second-soft {
  background-color: var(--color-secondary-second-soft);
}

.bg-secondary-second-medium {
  background-color: var(--color-secondary-second-medium);
}

.bg-secondary-second-hard {
  background-color: var(--color-secondary-second-hard);
}

.bg-secondary-third-soft {
  background-color: var(--color-secondary-third-soft);
}

.bg-secondary-third-medium {
  background-color: var(--color-secondary-third-medium);
}

.bg-secondary-third-hard {
  background-color: var(--color-secondary-third-hard);
}

.bg-shadow-neutral {
  background-color: var(--color-shadow-neutral);
}

.bg-shadow-inverse {
  background-color: var(--color-shadow-inverse);
}

.bg-shadow-primary {
  background-color: var(--color-shadow-primary);
}

.bg-neutral-inverse {
  background-color: var(--color-neutral-inverse);
}

.bg-neutral-disabled {
  background-color: var(--color-neutral-disabled);
}

.bg-neutral-subordinary {
  background-color: var(--color-neutral-subordinary);
}

.bg-neutral-base {
  background-color: var(--color-neutral-base);
}

.bg-success-soft {
  background-color: var(--color-success-soft);
}

.bg-success-medium {
  background-color: var(--color-success-medium);
}

.bg-success-hard {
  background-color: var(--color-success-hard);
}

.bg-warning-soft {
  background-color: var(--color-warning-soft);
}

.bg-warning-medium {
  background-color: var(--color-warning-medium);
}

.bg-warning-hard {
  background-color: var(--color-warning-hard);
}

.bg-danger-soft {
  background-color: var(--color-danger-soft);
}

.bg-danger-medium {
  background-color: var(--color-danger-medium);
}

.bg-danger-hard {
  background-color: var(--color-danger-hard);
}
